<h2 class="subheader">Hello, drunkards!</h2>
<p>Let us know of your favorite drink, so you can have two of them at your Birthday!</p>
<p>Cheers!</p>

<%= imgage_tag "ff-badge-healthydrunkard.png" %>
<br>

